@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-inherit {
    font-family: inherit;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-12px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fid {
    animation: fadeInDown 0.3s ease-out forwards;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}
